.layout {
    display: flex;
    height: 100vh;
    font-family: Arial;
}

/* SIDENAV */
.sidenav {
    width: 220px;
    background: #1e293b;
    color: white;
    padding: 20px;
}

.sidenav h2 {
    margin-bottom: 30px;
}

.sidenav nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidenav a {
    color: #cbd5f5;
    text-decoration: none;
}

.sidenav a:hover {
    color: white;
}

/* CONTENT */
.content {
    flex: 1;
    padding: 20px;
    background: #f8fafc;
}